@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@import "tailwindcss";
@import "./theme.css";
@import "./navigation.css";

body {
  width: 100vw;
  height: 100dvh;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-color: black;
  @apply text-white;
}

body:has(#menu:checked) {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

figure img {
  width: 100%;
  height: auto;
}
figcaption{
  @apply italic text-[#565656] uppercase text-right text-xs;
}
body.customize-support{
  margin-top: 46px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  @apply px-10 xl:px-0;
}

.additionnal_container {
  max-width: 1140px;
  margin: 0 auto;
  @apply px-10 xl:px-0;
}

img {
  object-fit: cover;
}

section {
  max-width: 100dvw;
}

svg,button {
  cursor: pointer;
}

.section-title {
  font-size: 32px;
  @apply font-bold;
}
.gradient {
  background: linear-gradient(180deg, #191100 0%, rgba(9, 10, 17, 0) 100%);
}

#home-filter .active {
  @apply bg-white/10 text-white font-bold;
}

.stroke {
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: inherit;
}

.page ul {
  padding-left: 8px;
}

/* .page p {
  margin-bottom: 40px;
} */

.page li {
  padding-left: 8px;
  @apply list-disc list-inside;
}

.page a{
  @apply text-primary hover:underline;
}

.leading-120{
  line-height: 120%;
}

.leading-150{
  line-height: 150%;
}