@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "./theme.css";
@import "./navigation.css";
@import "./pagination.css";

body {
  width: 100vw;
  height: 100dvh;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: white;
  @apply text-black;
}

body:has(#menu:checked) {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

/* * {
  line-height: 120%;
} */

/* html {
  margin-top: 32px !important;
} */

.additionnal_container {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  @apply px-4 xl:px-0;
}

img {
  object-fit: cover;
}

section {
  max-width: 100dvw;
}

svg {
  cursor: pointer;
}

.customize-support header {
  margin-top: 14px;
}

.section-title {
  @apply text-2xl lg:text-3xl font-bold;
}

.section-subtitle {
  @apply text-sm xl:text-base font-semibold text-gray-500;
}

.rounded-40 {
  @apply rounded-3xl md:rounded-[40px];
}

.pagination {
  z-index: 40;
}

.swiper-pagination-prev,
.swiper-pagination-next {
  @apply bg-white w-8 h-8 md:w-12 md:h-12 rounded-full flex justify-center items-center text-black hover:bg-black hover:text-white;
}

.swiper-pagination-prev[aria-disabled="true"],
.swiper-pagination-next[aria-disabled="true"] {
  @apply opacity-50 pointer-events-none;
}

.page h1 {
  @apply text-xl lg:text-2xl font-bold;
}

.page ul {
  padding-left: 8px;
}

.page li {
  padding-left: 8px;
}

.page ul li {
  @apply list-disc list-inside;
}

.page ol li {
  @apply list-decimal list-inside;
}

.page {
  line-height: 150% !important;
}

.event_gradient {
  background: linear-gradient(
    180deg,
    rgba(7, 81, 106, 0.8) 0%,
    rgba(0, 135, 81, 0.8) 100%
  );
}
